{#
/**
 * @file
 * Theme override to display a single views grouping.
 *
 * Available variables:
 * - view: The view object.
 * - grouping: The grouping instruction.
 * - grouping_level: A number indicating the hierarchical level of the grouping.
 * - title: The group heading.
 * - content: The content to be grouped.
 * - rows: The rows returned from the view.
 *
 * @see template_preprocess_views_view_grouping()
 */
#}
<div class="accordion--periodicals">
  <details>
    <summary>{{ title }}</summary>
    <div class="details__content">
      <div class="accordion__toggle">
        <a href="#" class="expAll">Expand all months</a>
        <a href="#" class="collAll">Collapse all months</a>
      </div>
      {{ content }}
    </div>
  </details>
</div>

